<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Car Manager{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/css3.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/slider.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="full-width-wrapper" id="header">
        <div class="full-width-wrapper" id="abstract-bg">

            <!--Banner-->
            <div class="fixed-width-wrapper" id="banner">
            </div>
            <!--/Banner-->

            <!--Navigation + Search-->
            <div class="fixed-width-wrapper border-radius-5px" id="navigation-bar">
                <div id="g-navigation">
                    <ul class="simple-drop-down-menu">
                        <li class="home-page current border-radius-left-5px"><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="#" title="">About us</a></li>
                    </ul>
                </div>


                <div class="user-info float-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Logged in as {{ app.user.username}} |
                        <a href="{{ path('fos_user_security_logout') }}">
                             Logout
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" title="">Login</a> |
                        <a href="{{ path('fos_user_registration_register') }}" title="">Register</a>
                    {% endif %}
                </div>

            </div>
            <!--/Navigation + Search-->
        </div>
    </div>
    <!--/Header-->

        {% block body %}{% endblock %}

        <!--Footer Extra-->
        <div class="full-width-wrapper" id="footer-extra-wrapper">
            <div class="fixed-width-wrapper">
                <div id="copyright">
                    <a href="#" class="logo float-left" title=""><img src="{{ asset('assets/images/logo-footer.png') }}" alt="" ></a>

                    <ul>
                        <li>(c) 2011 Allright reservred </li>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title="">Terms and Conditions</a></li>
                    </ul>
                    <a href="#" class="back-to-top sprite" title="Back to top">Back to top</a>
                </div>

            </div>
        </div>
        <!--/Footer Extra-->
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/jquery-1.6.4.min.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.nivo.slider.js')}}"></script>
        <script src="{{ asset('assets/js/cufon-yui.js')}}"></script>
        <script src="{{ asset('assets/js/TitilliumText.font.js')}}"></script>
        <script src="{{ asset('assets/js/cufon-replace.js')}}"></script>
        <script src="{{ asset('assets/js/scripts.js')}}"></script>
        <script src="{{ asset('assets/js/custom.js')}}"></script>

    </body>
</html>
